.app-wrapper {
  min-height: 100vh;
  background-color: var(--bg-main);
  position: relative;
}

/* Base Fade-in animation for page load */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main>section {
  animation: fadeIn 0.8s ease-out forwards;
}